<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>SimplzMovies</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="Description" content="SimplzMovies" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="canonical" href='PH' />
        <link rel="icon" type="image/png" href="PH/firefox-general-16-16.png">
        <link rel="apple-touch-icon" href="PH/firefox-general-256-256.png"> -->
    </head>
    <body>
        <h1>Test</h1>
    </body>
</html>